@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tta6pf');
  src:  url('fonts/icomoon.eot?tta6pf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tta6pf') format('truetype'),
    url('fonts/icomoon.woff?tta6pf') format('woff'),
    url('fonts/icomoon.svg?tta6pf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dance:before {
  content: "\e903";
}
.icon-consultation:before {
  content: "\e904";
}
.icon-stethoscope:before {
  content: "\e906";
}
.icon-x:before {
  content: "\e902";
}
.icon-add-outline:before {
  content: "\e900";
}
.icon-add-solid:before {
  content: "\e901";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-ctrl-right:before {
  content: "\ea50";
}
.icon-ctrl-left:before {
  content: "\ea51";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-bin:before {
  content: "\e9ac";
}

