.support {
  min-height: 100vh;
  color: white;
  position: relative;
  &__photo {
    position: absolute;
    z-index: -1;
    top: 0;
    img {
      position: fixed;
      width: 100%;
    }
  }
  h1{
    color:white;
  }
  .container {
    padding: 50px 0px;
  }
  &__container {
    display: flex;
    flex-flow: wrap;
    &--item {
      box-sizing: border-box;
      width: 100%;
      padding: 25px;
      @include media-breakpoint-up(sm) {
        width: 50%;
      }
      @include media-breakpoint-up(lg) {
        width: 33.33%;
        padding: 35px;
      }
      @include media-breakpoint-up(xxl) {
        padding: 70px 70px;
      }
      h2 {
        text-align: center;
        font-weight: 400;
        background: rgba(143, 41, 41, 0.25);
        padding: 5px 0px;
        border: 1px solid #8f2929;
      }
      p {
        text-align: center;
      }
    }
  }
}


