$grey: #607d8b;
$border-color: rgba(0, 0, 0, 0.06);

.update {
	background: rgba(128, 128, 128, 0.07);
	padding: 5px 25px;
	color: green;
	border: 0px;
	outline: 0px;
	display: flex;
	align-items: center;
	margin-top: 0px;
	width: fit-content;
	border: 1px solid green;
	&:hover {
		color: red;
		cursor: pointer;
	}
	&.disabled {
		color: rgba(128, 128, 128, 0.48);
		border: 1px solid rgba(0, 0, 0, 0.308);
		cursor: no-drop;
	}
}
.del {
	background: none;
	padding: 3px 0px;
	color: #bd6a69;
	border: 0px;
	outline: 0px;
	display: flex;
	align-items: center;
	margin-top: 0px;
	width: fit-content;
	&:hover {
		color: red;
		cursor: pointer;
	}
	&.disabled {
		color: rgba(128, 128, 128, 0.48);
		cursor: no-drop;
	}
}
.add {
	width: 200px;
	height: 200px;
	background: none;
	border: 1px solid $border-color;
	color: black;
	margin: 5px;
	&:hover {
		cursor: pointer;
		background: $border-color;
	}
	&--changePhoto {
		background: none;
	}
}
.files {
	display: flex;
	flex-wrap: wrap;
	margin-top: 25px;
  flex-flow: wrap;
  &__perPage{
    display: flex;
    justify-content: flex-end;
		align-items: center;
		margin: 25px;
    label{
      margin-right: 5px;
    }
  }
	&__form {
		padding: 50px 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		input {
			width: 100%;
		}
	}
	&__option {
		margin: 5px;
		padding: 5px;
		display: flex;
		margin-top: 25px;
		justify-content: center;
	}
	&__item {
    max-width: 200px;
		height: 200px;
		border: 1px solid $border-color;
		margin: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		flex: 1 auto;
		.del {
			position: absolute;
			right: 0px;
			top: 0px;
		}
		&--gallery {
			flex: 0 0 auto;
		}
		input {
			position: absolute;
			top: 2px;
			left: 7px;
			height: 23px;
			transform: scale(1.2);
		}

		&--name {
			position: absolute;
			bottom: -15px;
			background: white;
			width: 100%;
			text-align: center;
			color: black;
			border-top: 1px solid $border-color;
		}
	}
}

.managerFile {
	padding: 10px 25px;
}
