.gallery {
  &__container {
    span {
      display: flex;
      text-align: center;
    }
  }
  &__item {
    padding: 5px;
  }
  &__flex {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2); 
    max-width: calc(100vw - 352px);
    div:first-child{
      margin-left: 0px;
    }
  }
}
.viewPhoto{
  text-align: center;
  background: white;

  .empty{
    padding: 25px;
  }
}
.titleGallery {
  color: #737373;
  padding: 10px;
  margin: 15px auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Arial,sans-serif;
}