$blue: rgb(33, 126, 143);
ul.pagination {
	display: flex;
	margin: auto;
	margin: 40px 0;
	justify-content: center;
	li {
		width: 30px;
		list-style: none;
		a {
			text-decoration: none;
			padding: 5px 11px;
			color: #616161;
			&:hover {
				color: $blue;
				border: 0.5px solid $blue;
			}
		}
		&.active {
			a {
				color: white;
				background: $blue;

				&:hover {
					color: $blue;
					background: white;
				}
			}
		}
		&.disabled {
			a {
				color: #8080807e;
				border: 0.5px solid white;
			}
		}
	}
}
