.container{
    width: 100%;
    margin: auto;
    @include media-breakpoint-down(xxxl) {
      max-width:1520px;
    }
    @include media-breakpoint-down(xl) {
      max-width:1140px;
    }
    @include media-breakpoint-down(lg) {
      max-width:962px;
    }
    @include media-breakpoint-down(md) {
      max-width:728px;
    }
    @include media-breakpoint-down(sm) {
      max-width:100%;
    }
  }