h1{
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: 400;

    
    &.title{
        font-size: 50px;
        text-align: center;
        @include media-breakpoint-up(xxl) {
            font-size: 60px;
        }
    }
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p{
      font-weight: 400;
  }