body,html {
    padding: 0;
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#__next{
    height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import "./brakepoint.scss";
@import "./container.scss";
@import "./layout.scss";
@import "./components/FirstPage/style.scss";
@import "./components/AboutMe/style.scss";
@import "./components/Contact/style.scss";
@import "./components/Gallery/style.scss";
@import "./components/References/style.scss";
@import "./components/Support/style.scss";
@import "./../components/common/scrollBar/style.scss";
