.aboutMe {
  min-height: 400px;
  background: white;
  color: black;
  position: relative;

  h1 {
    font-size: 35px;
    text-align: left;
  }
  &__content {
    position: relative;
    z-index: 1;
    padding-top: 50px;
    &--text {
      text-align: left;
      max-width: 600px;
      padding-bottom: 100px;
    }
    .container {
      display: flex;      
      align-items: flex-end;
      :nth-child(1) {
        position: relative;
        img {
          position: relative;
          bottom: -3px;
          margin: auto;
          left: 0;
          right: 0;
          width: 100%;
          max-width: 500px;
        }
      }
      > div {
        width: 50%;
        padding: 0px 40px;
        text-align: center;
      }
      @include media-breakpoint-down(md) {
        flex-flow: column-reverse;
        align-items: center;
        > div {
          width: auto;
          text-align: center;
        }
      }
    }
  }
}
