.firstPage {
  height: 100%;
  .container{
    height: 100%;
    position: relative;
  }
  &:after{
    height: 40px;
    width: 100%;
    background: #8c6239f2;
    content: " ";
    position: absolute;
    top: 0;
    border-bottom: 0.5px solid #603913;
  }
  position: relative;
  // min-height: calc(100vh + 60px);
  min-height: 100vh;
  @include media-breakpoint-down(md) {
    min-height: 600px;
  }
  &__photo {
    position: absolute;
    z-index: -1;
    top: 0;
    img {
      position: fixed;
      width: 100%;
    }
  }
  &__logo {
    img {
      width: 250px;
      margin-top: 50px;
    }
    @include media-breakpoint-down(md) {
      padding-left: 25px;
      img {
        width: 200px;
      }
    }
  }
  &__tel{
    position: absolute;
    top: 10px;
    z-index: 2;
    right: 0;
    padding: 0px 20px;
    a{
      font-weight: 400;
      color: white;
      text-decoration: none;
    }
    span{
      color:lightgrey;
      font-weight: lighter;
    }
  }
  &__text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 25px;
    box-sizing: border-box;
  }
  h1 {
    color: white;
    &:nth-child(1) {
      font-size: 50px;
    }
    &:nth-child(2) {
      margin: 0px;
      font-weight: 100;
    }
  }
}
