.scrollBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  position: fixed;
  z-index: 5;
  padding-right: 15px;
  top: 0;
  bottom: 0;
  right: 0px;
  margin: auto;
  @include media-breakpoint-down(md) {
    display: none;
  }
  &__box {
    position: relative;
  }
  &__text {
    color: #8c6239;
    background: white;
    border: 1px solid #8c6239;
    width: 110px;
    position: absolute;
    text-align: center;
    top: -22px;
    z-index: 5;
    left: -125px;
    padding: 5px;
  }
  &__item {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 0.5px solid rgba(255, 255, 255, 0.514);
    background: rgba(0, 0, 0, 0.11);
    &:hover {
      background: #8c6239;
    }
  }
}
